{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/checkout.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <title>Wizard Skate.com</title>
    <style>
      body {
            background-image: url('{% static "assets/img/background.jpg" %}');
            background-size: contain;
            background-position: center;
            color: white; /* Adicionei essa propriedade para garantir que o texto seja visível na imagem de fundo */
        }
      .card{
          background-color: rgba(255,255,255,0.13);
          border-radius: 10px;
          backdrop-filter: blur(10px);
          border: 2px solid rgba(255,255,255,0.1);
          box-shadow: 0 0 40px rgba(8,7,16,0.6);
          padding: 50px 35px;
      }
      .card *{
          font-family: 'Poppins',sans-serif;
          color: #ffffff;
          letter-spacing: 0.5px;
          outline: none;
          border: none;
      }
      .card h2, h3{
          font-size: 32px;
          font-weight: 500;
          line-height: 42px;
          text-align: center;
      }

      label{
          display: block;
          margin-top: 30px;
          font-size: 16px;
          font-weight: 500;
      }

    </style>
</head>
<body>
    <div class="header">
        <h2>Wizard Skate's - A melhor da Região</h2>
    </div>
    <br>

    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="#">Brand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <a class="nav-link nav-item" href="#">Home</a>
          <a class="nav-link nav-item" href="#">Link</a>
    
          <a class="nav-link nav-item" href="#">Disabled</a>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings
            </a>
            <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown"><span><i class="fas fa-caret-up"></i></span>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else</a>
            </div>
          </div>
        </div>
        <form class="form-inline my-2  my-lg-0" name="myForm" onsubmit="return search()">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="fname" >
          <button class="btn my-2 my-sm-0" type="submit" value="submit">Search</button>
        </form>
      </div>      
    </nav>

    <div class="row">
        <img src="{% static 'assets/img/img2.jpg' %}" alt="" height="420px">
        <div class="leftcolumn">
            <div class="card">
                <h2>Novidades</h2>
                <h5>Title description, Dec 7, 2017</h5>
                <img src="{% static 'assets/img/skate2.jpg' %}" alt="" height="450px">
                <p>Some text..</p>
            </div>

            <div class="card">
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <img src="{% static 'assets/img/skate1.jpg' %}" alt="" height="450px">
                <p>Some text..</p>
            </div>
        </div>
        

        <div class="rightcolumn">
            <div class="card">
                <h2>Sobre nós</h2>
                <img src="{% static 'assets/img/img1.png' %}" alt="" class="img-fluid">
                <p>Somos uma loja independente, fomos instruídos pelo sábio do skate a espalhar a palavra pelo mundo todo!</p>
            </div>

            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
            </div>

            <div class="card">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div><br>
      <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" async></script>
</body>
</html>